/*------------------------------------*\
    RESET STYLES
\*------------------------------------*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote {
  &:before, &:after {
    content: '';
    content: none;
  }
}

q {
  &:before, &:after {
    content: '';
    content: none;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*------------------------------------*\
    VARIABLES
\*------------------------------------*/
//** Background color for `<body>`.
$body-bg: #fff !default;
//** Global text color on `<body>`.
$text-color: #acacac !default;
$image_dir: '../images/';

$accent-color-1: #fbd273;
//yellow
$accent-color-2: #7bc5c4;
//blue

/*------------------------------------*\
    MIXINS
\*------------------------------------*/

//@mixin border-radius($radius) {
//  -webkit-border-radius: $radius;
//  -moz-border-radius: $radius;
//  -ms-border-radius: $radius;
//  border-radius: $radius;
//}
//
//@mixin transition($transition-property, $transition-time, $method) {
//  -webkit-transition: $transition-property $transition-time $method;
//  -moz-transition: $transition-property $transition-time $method;
//  -ms-transition: $transition-property $transition-time $method;
//  -o-transition: $transition-property $transition-time $method;
//  transition: $transition-property $transition-time $method;
//}
//
//@mixin opacity($opacity) {
//  opacity: $opacity;
//  $opacity-ie: $opacity * 100;
//  filter: alpha(opacity=$opacity-ie); //IE8
//}
//
//@mixin transform($transforms) {
//  -moz-transform: $transforms;
//  -o-transform: $transforms;
//  -ms-transform: $transforms;
//  -webkit-transform: $transforms;
//  transform: $transforms;
//}
//
//// rotate
//@mixin rotate($deg) {
//  @include transform(rotate(#{$deg}deg));
//}
//
//// scale
//@mixin scale($scale) {
//  @include transform(scale($scale));
//}
//
//// translate
//@mixin translate($x, $y) {
//  @include transform(translate($x, $y));
//}
//
//// skew
//@mixin skew($x, $y) {
//  @include transform(skew(#{$x}deg, #{$y}deg));
//}
//
////transform origin
//@mixin transform-origin($origin) {
//  moz-transform-origin: $origin;
//  -o-transform-origin: $origin;
//  -ms-transform-origin: $origin;
//  -webkit-transform-origin: $origin;
//  transform-origin: $origin;
//}

/*------------------------------------*\
    FONT-FACE
\*------------------------------------*/

@font-face {
  font-family: "LatoRegular";
  src: url('../fonts/Lato/lato-regular.eot');
  src: url('../fonts/Lato/lato-regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Lato/lato-regular.woff') format('woff'),
  url('../fonts/Lato/lato-regular.ttf') format('truetype'),
  url('../fonts/Lato/lato-regular.svg#latoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "LatoBlack";
  src: url('../fonts/Lato/lato-black.eot');
  src: url('../fonts/Lato/lato-black.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Lato/lato-black.woff') format('woff'),
  url('../fonts/Lato/lato-black.ttf') format('truetype'),
  url('../fonts/Lato/lato-black.svg#latoblack') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "LatoBold";
  src: url('../fonts/Lato/lato-bold.eot');
  src: url('../fonts/Lato/lato-bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Lato/lato-bold.woff') format('woff'),
  url('../fonts/Lato/lato-bold.ttf') format('truetype'),
  url('../fonts/Lato/lato-bold.svg#latobold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MontserratBold";
  src: url('../fonts/Montserrat/montserrat-bold.eot');
  src: url('../fonts/Montserrat/montserrat-bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Montserrat/montserrat-bold.woff') format('woff'),
  url('../fonts/Montserrat/montserrat-bold.ttf') format('truetype'),
  url('../fonts/Montserrat/montserrat-bold.svg#montserratbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MontserratRegular";
  src: url('../fonts/Montserrat/montserrat-regular.eot');
  src: url('../fonts/Montserrat/montserrat-regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Montserrat/montserrat-regular.woff') format('woff'),
  url('../fonts/Montserrat/montserrat-regular.ttf') format('truetype'),
  url('../fonts/Montserrat/montserrat-regular.svg#montserratregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*------------------------------------*\
    COMMON STYLES
\*------------------------------------*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.content-wrap {
  max-width: 1200px;
  margin: 0 auto;
  clear: both;
}

body {
  background: $body-bg;
  font-family: "LatoRegular", sans-serif;
  font-size: 12px;
  line-height: 1.2;
  color: $text-color;
  min-width: 320px;
}

p {
  padding: 10px 0;
}

/*------------------------------------*\
    HEADER
\*------------------------------------*/
.header-wrap {
  background: url($image_dir + "header_bg.jpg") no-repeat center 0;
  background-size: cover;
  height: 680px;
  position: relative;
}

header {
  padding: 27px 0 26px 0;
  position: fixed;
  width: 100%;
  z-index: 9999;
  &.sticky {
    background: #fad271;
  }
}

.header-container {
  @extend .content-wrap;
  position: relative;
  padding-left: 234px;
}

.logo {
  display: inline-block;
  background: url($image_dir + "logo.png") 0 0 no-repeat;
  height: 26px;
  width: 218px;
  position: absolute;
  top: 0;
  left: 16px;
}

.top-nav {
  padding-left: 16px;
  li {
    display: inline-block;
    padding: 0 16px;
    a {
      color: #fff;
      line-height: 26px;
      text-transform: uppercase;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
      &.active {
        color: $accent-color-1;
        font-weight: bold;
        font-family: "LatoBlack", sans-serif;
      }
    }
  }
}

.login-nav {
  float: right;
  li {
    display: inline-block;
    padding: 0 16px;
    a {
      font-family: "LatoBold", sans-serif;
      color: #fff;
      line-height: 26px;
      text-transform: uppercase;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
    .icon-hotel {
      background: url($image_dir + "icon-hotel.png") 0 0 no-repeat;
      display: inline-block;
      height: 16px;
      width: 16px;
      margin-right: 7px;
    }
    .icon-traveler {
      @extend .icon-hotel;
      background: url($image_dir + "icon-traveler.png") 0 0 no-repeat;
    }
  }
}

.sticky {
  .logo {
    background-position: 0 -26px;
  }
  .top-nav a {
    color: #44474c;
    &.active {
      color: #44474c;
    }
  }
  .login-nav {
    li {
      a {
        color: #44474c;
      }
      .icon-hotel {
        background-position: 0 -16px;

      }
      .icon-traveler {
        background-position: 0 -16px;
      }
    }
  }
}

.header-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 40px;
  text-align: center;
  h1 {
    font-family: "MontserratBold", sans-serif;
    font-size: 41px;
    line-height: 39px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: $accent-color-1;
    padding-bottom: 10px;
  }
  p {
    font-family: "MontserratRegular", sans-serif;
    font-size: 24px;
    line-height: 39px;
    color: #fff;
    max-width: 450px;
    margin: 0 auto;
  }
  a {
    display: inline-block;
    border-radius: 5px;
    background-color: $accent-color-2;
    box-shadow: 2.5px 4.33px 5px 0 rgba(0, 0, 0, 0.35);
    min-width: 259px;
    height: 45px;
    margin-top: 10px;
    line-height: 45px;
    font-size: 16px;
    letter-spacing: 4px;
    font-family: "LatoBlack", sans-serif;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    &:hover {
      color: #44474c;
      background-color: $accent-color-1;
    }
  }
}

/*------------------------------------*\
    SECTION
\*------------------------------------*/

section {
  @extend .content-wrap;
  padding: 80px 0;
  blockquote {
    font-size: 24px;
    font-family: "LatoRegular", sans-serif;
    text-align: center;
    strong {
      color: $accent-color-2;
      font-family: "LatoBlack", sans-serif;
    }
  }
}

.statbar-1 {
  overflow: hidden;
  li {
    position: relative;
    float: left;
    width: 33.3%;
    height: 275px;
    padding-top: 60px;
    background: $accent-color-1;
    h3 {
      color: #fff;
      font-family: "MontserratBold", sans-serif;
      font-size: 108px;
      line-height: .7;
      max-width: 220px;
      margin: auto;
    }
    p {
      color: #44474c;
      font-size: 14px;
      line-height: 1.5;
      font-family: "LatoRegular", sans-serif;
      max-width: 220px;
      margin: auto;
      padding: 20px 0 10px;
      strong {
        font-family: "LatoBlack", sans-serif;
      }
    }
    &:after {
      position: absolute;
      content: "";
      display: block;
      width: 59px;
      height: 4px;
      background: #fff;
      border: 0;
      left: calc((100% - 220px) / 2);
      bottom: 40px;
    }
  }

  .statbar-item-1 {
    background: url($image_dir + "statbar-item-1.jpg") 0 0 no-repeat;
  }
  .statbar-item-2 {
    background: url($image_dir + "statbar-item-2.jpg") 0 0 no-repeat;
  }
  .statbar-item-3 {
    background: url($image_dir + "statbar-item-3.jpg") 0 0 no-repeat;
    p {
      color: $accent-color-1;
    }
  }


}
