/*------------------------------------*\
    RESET STYLES
\*------------------------------------*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote {
  &:before, &:after {
    content: '';
    content: none;
  }
}

q {
  &:before, &:after {
    content: '';
    content: none;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*------------------------------------*\
    VARIABLES
\*------------------------------------*/
//** Background color for `<body>`.
$body-bg: #fff !default;
//** Global text color on `<body>`.
$text-color: #acacac !default;
$image_dir: '../images/';

$accent-color-1: #fbd273;
//yellow
$accent-color-2: #7bc5c4;
//blue

/*------------------------------------*\
    MIXINS
\*------------------------------------*/

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin transition($transition-property, $transition-time, $method) {
  -webkit-transition: $transition-property $transition-time $method;
  -moz-transition: $transition-property $transition-time $method;
  -ms-transition: $transition-property $transition-time $method;
  -o-transition: $transition-property $transition-time $method;
  transition: $transition-property $transition-time $method;
}

//@mixin opacity($opacity) {
//  opacity: $opacity;
//  $opacity-ie: $opacity * 100;
//  filter: alpha(opacity=$opacity-ie); //IE8
//}
//
@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}

//// rotate
//@mixin rotate($deg) {
//  @include transform(rotate(#{$deg}deg));
//}
//
//// scale
@mixin scale($scale) {
  @include transform(scale($scale));
}

// translate
@mixin translate($x, $y) {
  @include transform(translate($x, $y));
}

//
//// skew
//@mixin skew($x, $y) {
//  @include transform(skew(#{$x}deg, #{$y}deg));
//}
//
////transform origin
//@mixin transform-origin($origin) {
//  moz-transform-origin: $origin;
//  -o-transform-origin: $origin;
//  -ms-transform-origin: $origin;
//  -webkit-transform-origin: $origin;
//  transform-origin: $origin;
//}

/*------------------------------------*\
    COMMON STYLES
\*------------------------------------*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  background: $body-bg;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  line-height: 1.2;
  color: $text-color;
  min-width: 320px;
}

p {
  padding: 10px 0;
  margin: 0;
}

.content-wrap {
  max-width: 1200px;
  margin: 0 auto;
  clear: both;
}

.flex {
  -webkit-flex-flow: wrap row;
  flex-flow: row wrap;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
}

/*------------------------------------*\
    HEADER
\*------------------------------------*/
.header-wrap-1 {
  background: url($image_dir + "header_bg.jpg") no-repeat center 0;
  background-size: cover;
  height: 680px;
  position: relative;
}

.header-wrap-2 {
  @extend .header-wrap-1;
  background-image: url($image_dir + "header_bg-2.jpg");
}

header {
  padding: 27px 0 26px 0;
  position: fixed;
  width: 100%;
  z-index: 9999;
  transition: all 0.6s ease;
  height: 90px;
  &.sticky {
    background: #fad271;
    height: 79px;
  }
}

.header-container {
  @extend .content-wrap;
  position: relative;
  padding-left: 234px;
  text-align: right;
}

.menu-btn {
  display: none;
}

.logo {
  display: inline-block;
  background: url($image_dir + "logo.png") 0 0 no-repeat;
  height: 26px;
  width: 218px;
  position: absolute;
  top: 0;
  left: 16px;
}

.top-nav {
  padding-left: 16px;
  float: left;
  li {
    display: inline-block;
    padding: 0 16px;
    a {
      color: #fff;
      line-height: 26px;
      text-transform: uppercase;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
    &.active a {
      color: $accent-color-1;
      font-weight: 900;
      font-family: "Lato", sans-serif;
    }
  }
}

.login-nav {
  li {
    display: inline-block;
    padding: 0 16px;
    a {
      font-family: 'Lato', sans-serif;
      font-weight: 700;
      letter-spacing: 1px;
      color: #fff;
      line-height: 26px;
      text-transform: uppercase;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
    .icon-hotel {
      background: url($image_dir + "icon-hotel.png") 0 0 no-repeat;
      display: inline-block;
      height: 16px;
      width: 16px;
      margin-right: 7px;
      vertical-align: text-top;
    }
    .icon-traveler {
      @extend .icon-hotel;
      background: url($image_dir + "icon-traveler.png") 0 0 no-repeat;
    }
  }
}

.sticky {
  .logo {
    background-position: 0 -26px;
  }
  .top-nav a, .top-nav li.active a {
    color: #44474c !important;
  }
  .login-nav {
    li {
      a {
        color: #44474c;
      }
      .icon-hotel {
        background-position: 0 -16px;

      }
      .icon-traveler {
        background-position: 0 -16px;
      }
    }
  }
}

.header-content {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  //  transform: translate(-50%, -50%);
  @include translate(-50%, -50%);
  margin-top: 40px;
  text-align: center;
  h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 41px;
    line-height: 39px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: $accent-color-1;
    padding-bottom: 10px;
  }
  p {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    line-height: 39px;
    color: #fff;
    max-width: 450px;
    margin: 0 auto;
  }
}

.request-info-btn {
  display: inline-block;
  @include border-radius(5px);
  background-color: $accent-color-2;
  box-shadow: 2.5px 4.33px 5px 0 rgba(0, 0, 0, 0.35);
  min-width: 259px;
  height: 45px;
  margin-top: 10px;
  line-height: 45px;
  font-size: 16px;
  letter-spacing: 3px;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;

  -o-transition: color .3s ease-out, background .5s ease-in;
  -ms-transition: color .3s ease-out, background .5s ease-in;
  -moz-transition: color .3s ease-out, background .5s ease-in;
  -webkit-transition: color .3s ease-out, background .5s ease-in;
  /* ...and now override with proper CSS property */
  transition: color .3s ease-out, background .5s ease-in;
  &:hover {
    color: #44474c;
    background-color: $accent-color-1;
  }
}

/*------------------------------------*\
    SECTION
\*------------------------------------*/

section {
  @extend .content-wrap;
  padding: 60px 20px;
  blockquote {
    font-size: 24px;
    font-family: 'Lato', sans-serif;
    text-align: center;
    strong {
      color: $accent-color-2;
      font-family: 'Lato', sans-serif;
      font-weight: 900;
    }
  }

  > h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    color: $accent-color-2;
  }
  > p {
    font-size: 21px;
    text-align: center;
    font-family: 'Lato', sans-serif;
  }
}

/*------------------------------------*\
    STATBAR-1
\*------------------------------------*/

.statbar-1 {
  overflow: hidden;
  li {
    position: relative;
    float: left;
    width: 33.3%;
    .statbar-item-wrap {
      height: 275px;
      padding-top: 60px;
    }
    h3 {
      color: #fff;
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      font-size: 108px;
      line-height: .7;
      max-width: 220px;
      margin: auto;
    }
    p {
      color: #44474c;
      font-size: 14px;
      line-height: 1.5;
      font-family: 'Lato', sans-serif;
      max-width: 220px;
      margin: auto;
      padding: 20px 0 10px;
      strong {
        font-family: 'Lato', sans-serif;
        font-weight: 900;
      }
    }
    &:after {
      position: absolute;
      content: "";
      display: block;
      width: 59px;
      height: 4px;
      background: #fff;
      border: 0;
      left: calc((100% - 220px) / 2);
      bottom: 40px;
    }

    &:hover .statbar-item-wrap {
      cursor: default;
    }

    &:hover .statbar-item-wrap p {
      color: $accent-color-1;
    }
  }

  .statbar-item-1 {
    background: url($image_dir + "statbar-item-1.jpg") 0 0 no-repeat;
    background-size: cover;
    &:hover {
      background: url($image_dir + "statbar-item-1-bw.jpg") 0 0 no-repeat;
      background-size: cover;
    }

  }
  .statbar-item-2 {
    background: url($image_dir + "statbar-item-2.jpg") 0 0 no-repeat;
    background-size: cover;
    &:hover {
      background: url($image_dir + "statbar-item-2-bw.jpg") 0 0 no-repeat;
      background-size: cover;
    }
  }
  .statbar-item-3 {
    background: url($image_dir + "statbar-item-3.jpg") 0 0 no-repeat;
    background-size: cover;
    p {
      color: $accent-color-1;
    }
    &:hover .statbar-item-wrap {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
}

/*------------------------------------*\
    DEVICES-PIC
\*------------------------------------*/

.create-guide {
  text-align: center;
  h2 {
    padding-bottom: 10px;
  }
  p {
    width: 60%;
    margin: auto;
    line-height: 1.66;
  }
}

.devices-pic {
  background: url($image_dir + "devices.jpg") center no-repeat;
  height: 400px;
  margin-top: 20px;
  background-size: contain;
}

/*------------------------------------*\
    STEP-1
\*------------------------------------*/

.step-1, .step-3, .step-5 {
  padding-top: 60px;
  h2 {
    color: #b7b7b7;
    strong {
      color: $accent-color-1;
    }
  }
}

.step-1-list {
  padding: 60px 0 0;
  overflow: hidden;
  text-align: center;
  li {
    display: inline-block;
    position: relative;
    width: 19.8%;
    min-width: 180px;
    padding: 0 20px 20px 20px;
    vertical-align: top;
    p {
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      font-size: 18px;
    }
    &:after {
      position: absolute;
      content: "";
      display: inline-block;
      background: url($image_dir + "icon-arrow.png") 0 0 no-repeat;
      height: 23px;
      width: 19px;
      right: -10px;
      top: 35px;
    }
    &:last-child:after {
      display: none;
    }

    &:nth-child(odd) p {
      color: $accent-color-2;
    }
    &:nth-child(even) p {
      color: $accent-color-1;
    }
  }
}

i[class*="step-icon-"] {
  display: inline-block;
  height: 108px;
  background: transparent no-repeat center;
  background-size: contain;
}

i.step-icon-1 {
  background-image: url($image_dir + "icon-access.svg");
  width: 116px;
}

i.step-icon-2 {
  background-image: url($image_dir + "icon-activities.svg");
  width: 124px;
}

i.step-icon-3 {
  background-image: url($image_dir + "icon-branding.svg");
  width: 95px;
}

i.step-icon-4 {
  background-image: url($image_dir + "icon-guide.svg");
  width: 108px;
}

i.step-icon-5 {
  background-image: url($image_dir + "icon-story.svg");
  width: 70px;
}

i.step-icon-6 {
  background-image: url($image_dir + "icon-profile-bw.svg");
  width: 90px;
}

i.step-icon-7 {
  background-image: url($image_dir + "icon-responsive-bw.svg");
  width: 64px;
}

i.step-icon-8 {
  background-image: url($image_dir + "icon-multitouch-bw.svg");
  width: 130px;
}

i.step-icon-9 {
  background-image: url($image_dir + "icon-sharing-bw.svg");
  width: 108px;
}

i.step-icon-10 {
  background-image: url($image_dir + "icon-perscontent-bw.svg");
  width: 116px;
}

/*------------------------------------*\
    STEP-2
\*------------------------------------*/
.step-2-wrap {
  background: #f3f5f9;
  max-width: none;
}

.step-2 {
    padding: 60px 0 0;
  max-width: none;
  h2 strong {
    color: $accent-color-2;
  }

  #tabs {
    padding: 30px 0 0;
    margin-bottom: 0;
  }


  #tabs_container  {
    overflow: visible;
    background: $accent-color-2;
    color: #fff;

    > div {
      display: table;
      width: 100%;
      max-width: 1000px;
      left: 50%;
      @include translate(-50%, 0);
      margin: auto;

      h3 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 36px;
        display: table-cell;
        vertical-align: top;
        padding-right: 40px;
        width: 33%;
      }
      p {
        font-size: 18px;
        line-height: 1.6;
        padding: 5px 0;
        display: table-cell;
        vertical-align: top;
      }

    }
    &:before {
      content: '';
      display: block;
      width: 100%;
      height: 45px;
      position: absolute;
      background: url($image_dir + "tabs-content-shadow.png") center repeat;
      top: -45px;
      left: 0;
    }

  }

  .tabs {
    display: table;
    width: 100%;
    @extend .content-wrap;
  }
  #tabs li {
    position: relative;
    display: table-cell;
    width: 20%;
    margin: 0;
    text-align: center;
    vertical-align: top;
    float: none !important;
    a {
      color: #b7b7b7;
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      font-size: 18px;
      display: inline-block;
      min-height: 120px;
      padding: 30px 10px 60px;
      text-align: center;
      background: transparent;
      &:hover {
        background: transparent;
      }

      p {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
      }

      &.tabulous_active:after {
        content: '';
        display: inline-block;
        position: absolute;
        z-index: 1;
        bottom: -8px;
        left: 50%;
        //        transform: translateX(-50%);
        @include translate(-50%, 0);
        background: url($image_dir + "tab-arrow.png") center no-repeat;
        height: 68px;
        width: 103px;
      }

      &.tabulous_active {
        color: #7d7d7d !important;
        background: transparent !important;

        i.step-icon-6 {
          background-image: url($image_dir + "icon-profile.svg");
        }

        i.step-icon-7 {
          background-image: url($image_dir + "icon-responsive.svg");
        }

        i.step-icon-8 {
          background-image: url($image_dir + "icon-multitouch.svg");
        }

        i.step-icon-9 {
          background-image: url($image_dir + "icon-sharing.svg");
        }

        i.step-icon-10 {
          background-image: url($image_dir + "icon-perscontent.svg");
        }

      }
    }
  }

}

/*------------------------------------*\
    STEP-3
\*------------------------------------*/

.step-3 {
  padding: 60px 0 0;
}

.preferences-list {
  background: url($image_dir + "screen-pic.jpg") center 180px no-repeat;
  height: 958px;
  padding: 300px 0 0;
  max-width: 1182px;
  background-size: contain;
  position: relative;
  li[class*="preference-"] {
    cursor: pointer;
    position: absolute;
    text-align: center;
    width: 33%;
    max-width: 320px;
    p {
      font-family: 'Lato', sans-serif;
      font-size: 14px;
      line-height: 1.9;
    }
    a.number {
      @include border-radius(50%);
      background: $accent-color-2;
      width: 55px;
      height: 55px;
      line-height: 55px;
      text-align: center;
      display: inline-block;
      color: #fff;
      font-family: 'Lato', sans-serif;
      font-weight: 900;
      font-size: 21px;
    }
    h4 {
      padding: 15px 0 0;
      color: $accent-color-2;
      font-family: 'Lato', sans-serif;
      font-weight: 900;
      font-size: 21px;
    }
    &:nth-child(odd) {
      a.number {
        background: $accent-color-1;
      }
      h4 {
        color: $accent-color-1;;
      }
    }
  }
  .preference-1 {
    top: 150px;
    left: 5%;
  }
  .preference-2 {
    top: 50px;
    left: 33%;
  }
  .preference-3 {
    top: 100px;
    left: 66%;
  }
  .preference-4 {
    top: 670px;
    left: 5%;
  }
  .preference-5 {
    top: 630px;
    left: 64%;
  }
}

.preferences-list.drop-pin-1-bg {
  background-image: url($image_dir + "drop-pin-1-bg.png"), url($image_dir + "screen-pic.jpg");
  background-size: contain;
}

.preferences-list.drop-pin-2-bg {
  background-image: url($image_dir + "drop-pin-2-bg.png"), url($image_dir + "screen-pic.jpg");
  background-size: contain;
}

.preferences-list.drop-pin-3-bg {
  background-image: url($image_dir + "drop-pin-3-bg.png"), url($image_dir + "screen-pic.jpg");
  background-size: contain;
}

.preferences-list.drop-pin-4-bg {
  background-image: url($image_dir + "drop-pin-4-bg.png"), url($image_dir + "screen-pic.jpg");
  background-size: contain;
}

.preferences-list.drop-pin-5-bg {
  background-image: url($image_dir + "drop-pin-5-bg.png"), url($image_dir + "screen-pic.jpg");
  background-size: contain;
}

//  li[class*="drop-pin-"] {
//    display: none;
//    position: absolute;
//    width: 145px;
//    height: 127px;
//    background: url($image_dir + "drop-pin-yellow.png") center no-repeat;
//    padding: 30px 75px 0 0;
//    text-align: center;
//    color: #fff;
//    font-family: 'Lato', sans-serif;
//    font-size: 21px;
//    background-size: contain;
//
//    &:nth-child(odd) {
//      background-image: url($image_dir + "drop-pin-blue.png");
//    }
//  }

//  li.opened[class*="drop-pin-"] {
//    display: block;
//  }

//  .drop-pin-1 {
//    top: 350px;
//    left: 35%;
//  }
//  .drop-pin-2 {
//    top: 220px;
//    left: 50%;
//  }
//  .drop-pin-3 {
//    top: 400px;
//    left: 70%;
//  }
//  .drop-pin-4 {
//    top: 530px;
//    left: 30%;
//  }
//  .drop-pin-5 {
//    top: 550px;
//    left: 52%;
//  }

/*------------------------------------*\
    STEP-4
\*------------------------------------*/

.step-4-wrap {
  @extend .step-2-wrap;
}

.step-4 {
  @extend .step-2;
  max-width: 1200px;
  overflow: hidden;
  padding-bottom: 60px;
  h2 {
    margin-bottom: 60px;
  }
  .publish-guide {
    display: table-cell;
    width: 60%;
    height: 390px;
    background: url($image_dir + "circle.png") center no-repeat;
    background-size: contain;
    max-width: 577px;
  }
  .publish-desc {
    display: table-cell;
    width: 40%;
    vertical-align: middle;
    h3 {
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      font-size: 36px;
      color: $accent-color-2;
      padding-bottom: 10px;
    }
    p {
      font-family: 'Lato', sans-serif;
      font-size: 14px;
      line-height: 1.7;
    }
  }
}

/*------------------------------------*\
    STEP-5
\*------------------------------------*/

.step-5 {
  padding: 60px 0 0;
  max-width: none;
  h2 {
    padding-bottom: 40px;
  }
}

.statbar-2 {
  @extend .statbar-1;
  padding-top: 10px;
  text-align: center;

  li:after {
    left: 50%;
    //    transform: translate(-50%);
    @include translate(-50%, -50%);
  }

  .statbar-item-1 {
    background: url($image_dir + "statbar-item-4.jpg") 0 0 no-repeat;
    background-size: cover;
    &:hover {
      background: url($image_dir + "statbar-item-4-bw.jpg") 0 0 no-repeat;
      background-size: cover;
    }

  }
  .statbar-item-2 {
    background: url($image_dir + "statbar-item-5.jpg") 0 0 no-repeat;
    background-size: cover;
    &:hover {
      background: url($image_dir + "statbar-item-5-bw.jpg") 0 0 no-repeat;
      background-size: cover;
    }
  }
  .statbar-item-3 {
    background: url($image_dir + "statbar-item-6.jpg") 0 0 no-repeat;
    background-size: cover;
    p {
      color: $accent-color-1;
    }
    &:hover .statbar-item-wrap {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }

  .statbar-item-wrap {
    position: relative;
  }

  &:before {
    content: '';
    width: calc((100% / 6) * 4);
    height: 58px;
    border-top: 1px solid #eaeaea;
    display: block;
    margin: auto;
  }

  .statbar-item-1:before,
  .statbar-item-2:before,
  .statbar-item-3:before {
    content: '';
    position: absolute;
    height: 18px;
    width: 18px;
    background: $accent-color-1;
    border: 3px solid #fff;
    @include border-radius(50%);
    top: -9px;
    left: 50%;
    //    transform: translate(-50%);
    @include translate(-50%, -50%);
  }
  .statbar-item-2:before {
    background: $accent-color-2;
  }
  .statbar-item-3:before {
    background: #44474c;
  }

  .statbar-item-wrap:before {
    content: '';
    position: absolute;
    height: 46px;
    width: 1px;
    display: block;
    background: #eaeaea;
    left: 50%;
    //    transform: translate(-50%);
    @include translate(-50%, -50%);
    top: -58px;
    overflow: hidden;
  }

  .statbar-item-2 .statbar-item-wrap:after {
    content: '';
    position: absolute;
    left: 50%;
    //    transform: translate(-50%);
    @include translate(-50%, -50%);
    top: -64px;
    background: #d7d7d7;
    height: 11px;
    width: 11px;
    @include border-radius(50%);
  }
}

/*------------------------------------*\
    SIGN UP
\*------------------------------------*/

.sign-up-bg {
  background: #333 url($image_dir + "signup-bg.jpg") center 0 no-repeat;
  background-size: cover;
  height: 500px;
  padding-top: 228px;
}

.sign-up-wrap {
  //  background: url($image_dir + "signup-text-bg.png") center 0 repeat-x;
  background: rgba(255, 255, 255, .17);
  height: 272px;
  text-align: center;
}

.sign-up {
  padding: 0;
  h3 {
    font-size: 48px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    color: #fff;
    padding: 30px 0;
    margin: auto;
  }
}

.signup-form {
  display: table;
  margin: auto;
}

.email-field {
  display: table-cell;
  @include border-radius(6px 0 0 6px);
  border: 0;
  background-color: #fff;
  padding: 0 20px;
  width: 296px;
  height: 45px;
  vertical-align: top;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 18px;
}

.email-submit {
  display: table-cell;
  @extend .request-info-btn;
  @include border-radius(0 6px 6px 0);
  border: 0;
  height: 45px;
  vertical-align: top;
  margin: 0;
  cursor: pointer;
}

/*------------------------------------*\
    FOOTER
\*------------------------------------*/
footer {
  background: #fbd273 url($image_dir + "footer-shadow.png") 0 0 repeat-x;
  min-height: 283px;
  padding-top: 90px;
  color: #44474c;
  .copyright {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    word-spacing: 2px;
    letter-spacing: .5px;
  }
}

.social-icons {
  text-align: center;
  li {
    display: inline-block;
    padding: 0 10px;
    a {
      color: #44474c;
      font-family: "FontAwesome", sans-serif;
      font-size: 18px;
    }
  }
}

.footer-nav {
  padding: 30px 0;
  text-align: center;
  li {
    display: inline-block;
    padding: 0 10px;
    a {
      text-transform: uppercase;
      text-decoration: none;
      color: #44474c;
      font-family: 'Lato', sans-serif;
      font-weight: 700;
      font-size: 11px;
      letter-spacing: 2px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

/*------------------------------------*\
    DEMO PAGE
\*------------------------------------*/

.macbook-pic {
  background: url($image_dir + "macbook-pic.png") center no-repeat;
  background-size: contain;
  height: 520px;
  position: absolute;
  top: auto;
  bottom: -170px;
  width: 100%;
}

.header-content.demo-page {
  top: 200px;
  margin: 0;
  p {
    max-width: 100%;
    font-family: Lato, sans-serif;
    font-size: 30px;
  }
}

.request-form-wrap {
  margin-top: 230px;
  background: #f3f5f9;
}

.request-form {
  max-width: 1000px;
  padding: 80px 20px;
  h2, h2 + p {
    width: 30%;
    display: table-cell;
    vertical-align: top;
    text-align: left;
  }
  h2 + p {
    display: table-cell;
    width: 70%;
  }

  .request-form-table {
    padding: 50px 0 0;
    overflow: hidden;
    width: 100%;
    [class*="request-form-col"] {
      .request-form-cell {
        width: 33.3%;
        float: left;
        padding: 12px 0;
      }
    }
    .request-form-col-2 {
      .request-form-cell:first-child {
        width: 66.6%;
      }
    }

    input, textarea {
      height: 52px;
      line-height: 1;
      width: 90%;
      color: #a1a1a1;
      background: #e4e7ed;
      border: none;
      @include border-radius(5px);
      font-size: 18px;
      padding: 0 10px;
    }

    textarea {
      width: 95%;
      max-width: 95%;
      height: 126px;
    }

    .request-btn {
      font-family: Montserrat, sans-serif;
      font-weight: 700;
      font-size: 18px;
      letter-spacing: 1px;
      @extend .request-info-btn;
      box-shadow: none;
      background: $accent-color-1;
      height: 52px;
      margin: 0;
      &:hover {
        background: $accent-color-2;
        color: #fff;
      }
    }
  }
}

/*------------------------------------*\
    BREAKPOINT  ---  860
\*------------------------------------*/

@media screen and (max-width: 860px) {
  .top-nav, .login-nav {
    li {
      padding: 0 7px;
    }
  }
  .create-guide p {
    width: 90%;
  }

  .preferences-list, .preferences-list[class*="drop-pin"] {
    background-position: center 220px;
    background-repeat: no-repeat;
  }
  .preferences-list .preference-4 {
    top: 610px;
  }
  .preferences-list .preference-5 {
    top: 570px;
  }

  .request-form .request-form-table .request-btn {
    font-size: 16px;
    min-width: 0;
  }

}

/*------------------------------------*\
    BREAKPOINT  ---  768
\*------------------------------------*/

@media screen and (max-width: 768px) {
  .header-container {
    padding-left: 0;
  }
  header {
    background: $accent-color-1;
    height: 79px;
  }

  .header-content.demo-page {
    top: 180px;
  }

  .header-wrap-2 {
    height: 500px;
    .macbook-pic {
      height: 320px;
      bottom: -100px;
    }
  }

  .logo {
    left: 50%;
    @include translate(-50%, 0);
    background-position: 0 -26px;
  }

  .menu-btn {
    display: block;
    margin-left: 30px;
    width: 33px;
    height: 30px;
    text-decoration: none !important;
    position: relative;
    z-index: 101;
    background: url($image_dir + "icon-menu-btn.png") center no-repeat;
  }

  .top-nav, .login-nav {
    display: none;
    float: none;
    padding: 22px 0 0;
    li {
      padding: 0;
      a {
        display: block;
        color: #44474c;
        font-size: 27px;
        font-weight: normal;
        text-align: left;
        background: rgba(231, 194, 108, 0.9);
        width: 100%;
        padding: 30px 0 30px 60px;
        border-bottom: 1px solid #e7c168;
        &:hover {
          text-decoration: none;
        }
      }
      &.active a {
        font-weight: 900;
        color: #44474c;
      }
    }
  }

  .top-nav.opened,
  .login-nav.opened {
    display: block;
    li {
      display: block;
    }
  }

  .login-nav {
    padding: 0;
    li {
      .icon-hotel, .icon-traveler {
        display: none;
      }
    }
  }

  .overlay {
    height: 0;
    line-height: 0;
    font-size: 0;
  }
  .overlay.active {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
  }

  section {
    padding: 60px 20px;
    > h2 {
      font-size: 32px;
    }
  }

  .devices-pic {
    height: 200px;
  }

  .step-2, .step-3, .step-5 {
    padding: 40px 0 0;
  }

  .step-4 {
    padding-bottom: 40px;
  }

  .step-2 {
    #tabs_container {
      padding: 40px 20px;
      > div {
        padding: 0 30px;
        h3, p {
          display: block;
          padding: 0;
          width: 100%;
        }
      }
    }

    #tabs li {
      a.tabulous_active:after {
        width: 100%;
        height: 53px;
        background-size: contain;
      }
      a {
        padding: 10px 5px 60px;
        p {
          font-size: 0;
          padding: 0;
        }
      }
    }

    i[class*="step-icon-"] {
      height: 90px;
    }
  }

  .statbar-1, .statbar-2 {
    li {
      width: 100%;
      text-align: center;

      &:before,
      .statbar-item-wrap:before,
      .statbar-item-wrap:after {
        display: none;
      }
      &:after {
        left: 50%;
        //        transform: translate(-50%);
        @include translate(-50%, -50%);
      }
    }
  }
  .statbar-2:before {
    display: none;
  }

  .preferences-list {
    background: none;
    height: auto;
    padding-top: 40px;
  }
  .preferences-list[class*="drop-pin"] {
    background: none;
  }
  .preferences-list li[class*="preference-"] {
    cursor: default;
  }

  .preferences-list:after {
    content: '';
    display: block;
    height: 730px;
    width: 100%;
    background: url("../images/screen-pic-mobile.jpg") center no-repeat;
    background-size: contain;
  }

  .preferences-list li[class*="preference-"] {
    display: block;
    position: static;
    width: 100%;
    max-width: none;
    text-align: left;
    position: relative;
    left: auto;
    top: auto;
    padding: 0 20px 0 110px;

    a.number {
      position: absolute;
      left: 30px;
      top: 10px;
    }
  }

  .step-4 {
    .publish-desc,
    .publish-guide {
      display: block;
      width: 90%;
      text-align: center;
      margin: auto;
    }
    .publish-guide {
      background: url($image_dir + "circle-mobile.jpg") center no-repeat;
      background-size: contain;
      max-width: 600px;
      margin-top: 20px;
    }
  }

  footer {
    padding-top: 50px;
    background-image: none;
  }

  .footer-nav li {
    display: block;
    a {
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      font-size: 22px;
      line-height: 2;
    }
  }

  .social-icons li a {
    font-size: 22px;
  }

  .request-form-wrap {
    margin-top: 120px;
  }

  .request-form {
    padding: 50px 20px;
    h2 + p, h2 {
      display: block;
      width: 100%;
      text-align: center;
    }
  }

  .request-form .request-form-table {
    padding: 50px 0 0;
    overflow: hidden;
    width: 100%;
    [class*="request-form-col"] {
      .request-form-cell, .request-form-cell:first-child, input, textarea {
        display: block;
        width: 100%;
        max-width: 100%;
      }
    }
  }
}

/*------------------------------------*\
    BREAKPOINT  ---  660
\*------------------------------------*/

@media screen and (max-width: 660px) {
  .sign-up-bg {
    padding-top: 150px;
  }
  .sign-up-wrap {
    height: 350px;
  }
  .sign-up h3 {
    font-size: 44px;
  }

  .signup-form {
    width: 90%;
  }

  .email-submit,
  .email-field {
    width: 50%;
    min-width: 0;
  }

  .step-1-list li {
    width: 30%;
    min-width: 100px;
    padding: 0 5px 10px 5px;
    i[class*="step-icon-"] {
      width: 50px !important;
      height: 60px;
    }
    &:after {
      top: 25px;
    }
  }

  .step-2 {
    i[class*="step-icon-"] {
      height: 60px;
      width: 70px;
    }
  }

  .step-4 {
    .publish-guide {
      height: 280px;
    }
  }

  .preferences-list:after {
    height: 630px;
  }
}

/*------------------------------------*\
    BREAKPOINT  ---  480
\*------------------------------------*/
@media screen and (max-width: 480px) {
  .header-content {
    min-width: 320px;
  }

  .logo {
    right: 10px;
    left: auto;
    //    transform: translate(0);
    @include translate(0, 0);
  }

  .sign-up-bg {
    padding-top: 100px;
  }
  .sign-up-wrap {
    height: 400px;
  }

  .sign-up h3 {
    font-size: 38px;
  }
  .email-submit,
  .email-field {
    width: 100%;
    display: block;
    @include border-radius(6px);
    margin-bottom: 10px;
    -webkit-appearance: none;
  }

  .step-2 {

    #tabs li a {
      min-height: 60px;
    }

    i[class*="step-icon-"] {
      height: 40px;
      width: 50px;
    }
  }

  .preferences-list:after {
    height: 450px;
  }

  .request-form-wrap {
    margin-top: 80px;
  }

}
